html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #264653;
}

.hamburger-react {
    z-index: 100;
}

@media screen and (min-width: 768px) {
    body {
        width: 70vw;
        margin: 0 auto;
    }
    .hamburger-react{
        display: none;
    }
}
